.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.keyboard {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.white-key {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    height: 200px;
    width: 40px;
    /*box-shadow: 1px 1px 0 grey;*/
    margin: 0 -5px 0 0;
}

.black-key {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: black;
    z-index: 10;
    margin: 0 0 0 -10px;
    width: 25px;
    height: 130px;
    border: 0;
    border-top: 1px solid lightgray;
}

.black-key + .white-key {
    margin-left: -12px;
}

.white-key, .black-key {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.white-key:hover, .black-key:hover {
    background-color: plum;
}