.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
}

.app-title {
    margin: 0 0 10px;
}

.counter-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px 20px;
}

.correct-counter {
    border: 1px solid aquamarine;
    padding: 8px;
    border-radius: 30px;
    background-color: aquamarine;
    margin-right: 5px;
    box-shadow: 0 3px 0 aquamarine, 0 3px 3px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 3px rgba(176, 176, 176, 0.5);
}

.incorrect-counter {
    border: 1px solid #ff9999;
    padding: 8px;
    border-radius: 30px;
    background-color: #ff9999;
    margin-left: 5px;
    box-shadow: 0 3px 0 #ff9999, 0 3px 3px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
}

.keyboard {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 5px 5px grey;
    margin: 0 0 10px;
}

.white-key {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: white;
    /*border: 1px solid lightgray;*/
    height: 220px;
    width: 60px;
    /*box-shadow: 1px 1px 0 grey;*/
    margin: 0 -5px 0 0;
}

.black-key {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: black;
    z-index: 10;
    margin: 0 0 0 -30px;
    width: 40px;
    height: 150px;
    border: 0;
    /*border-top: 1px solid lightgray;*/
}

.pressed-key {
    background-color: plum;
}

.black-key + .white-key {
    margin-left: -12px;
}

.white-key, .black-key {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.white-key:hover, .black-key:hover {
    background-color: plum;
}