.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-div {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    justify-content: center;
}

.bottom-div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
}

/* counter buttons */
.counter-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px 40px;
}

.correct-counter {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 30px;
    background-color: aquamarine;
    margin-right: 5px;
    width: 100px;
    box-shadow: 0 3px 0 #00bc7a, 0 3px 3px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
}

.incorrect-counter {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 30px;
    background-color: #ff9999;
    margin-left: 5px;
    width: 100px;
    box-shadow: 0 3px 0 #9d5a5a, 0 3px 3px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
}

/* quiz */
.triad-name {
    margin-left: 20px;
}

.quiz-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.quiz-results {
    width: 250px;
    height: auto;
}

.quiz-results p {
    color: white;
    letter-spacing: 1px;
    font-family: "Source Code Pro", sans-serif;
}

.results-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* keyboard */
.keyboard {
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 10px #000000;
    margin: 0 0 10px;
}

.white-key {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    height: 220px;
    width: 60px;
    margin: 0 -5px 0 0;
}

.black-key {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: black;
    z-index: 10;
    margin: 0 0 0 -10px;
    width: 45px;
    height: 150px;
    border: 0;
    border-top: 1px solid lightgray;
}

.pressed-key {
    background-color: #e0dede;
}

.black-key + .white-key {
    margin-left: -32px;
}

.white-key, .black-key {
    font-size: 12px;
    font-family: "Andale Mono";
    letter-spacing: 1px;
}

.white-key:hover, .black-key:hover {
    background-color: #e0dede;
}