/* Class */
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

li {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    letter-spacing: 0.08em;
    font-size: 15px;
    padding: 0 20px;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 100px;
}

.blog-title {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-left: 100px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    list-style-type: none;
}

.active {
    color: #34c5ff;
}