html, body, #root, #root > div {
    height: 100%;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: deepskyblue;
    border-bottom: 5px solid yellow;
}